@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Salut! Bine ai venit!</h1>
    <img src="https://desertdecasa.ro/wp-content/uploads/2018/11/dulciurile-copilariei.jpg" alt="prajituri" />
</div>